In [4]:
# Imports 
import pandas as pd
import time

In [5]:
# Read in the occupancy csv file for each room
bathroom_occupancy = pd.read_csv('renson_dataset/Occupancy/bathroom-occupancy_labels.csv', delimiter=';', skiprows=[1])
bedroom_child_occupancy = pd.read_csv('renson_dataset/Occupancy/bedroom_child-occupancy_labels.csv', delimiter=';', skiprows=[1])
bedroom_parents_occupancy = pd.read_csv('renson_dataset/Occupancy/bedroom_parents-occupancy_labels.csv', delimiter=';', skiprows=[1])
hallway_occupancy = pd.read_csv('renson_dataset/Occupancy/hallway-occupancy_labels.csv', delimiter=';', skiprows=[1])
office_occupancy = pd.read_csv('renson_dataset/Occupancy/office-occupancy_labels.csv', delimiter=';', skiprows=[1])

bathroom_occupancy.head(6)

         date      time  total
0  2022-02-21  11:55:39      0
1  2022-02-21  12:59:57      0
2  2022-02-21  13:05:11      0
3  2022-02-21  13:22:18      0
4  2022-02-21  14:24:21      0
5  2022-02-21  14:27:51      0

In [6]:
# Check for NAN's
print(bathroom_occupancy.isnull().values.any())
print(bedroom_child_occupancy.isnull().values.any())
print(bedroom_parents_occupancy.isnull().values.any())
print(hallway_occupancy.isnull().values.any())
print(office_occupancy.isnull().values.any())

False
False
False
False
False

In [7]:
# Helper function to create a new dataframe with unconfigured bins
def initialize_bins(
        bin_size, 
        start_date, 
        start_time, 
        end_date, 
        end_time
    ):
    # initialize empty dataframe
    df = pd.DataFrame(columns=["date","time","total"])

    print(time.strptime(start_time, '%H::%M::%S').second)


# function to create time bins with occupancy information in a specific room
def create_time_bins(raw_occupancy_data, bin_size):
    # First sort the occupancy data by time
    raw_occupancy_data.sort_values(by=["date", "time"], ascending=[False, False])

    



    return raw_occupancy_data

In [12]:
test = create_time_bins(bathroom_occupancy, 5)
test.head(200)

           date      time  total
366  2022-02-27  21:08:26      0
367  2022-02-27  21:09:06      0
368  2022-02-27  21:13:10      1
369  2022-02-27  21:13:57      2
370  2022-02-27  21:15:35      1
..          ...       ...    ...
561  2022-03-04   6:52:54      0
562  2022-03-04   7:16:42      1
563  2022-03-04   7:20:08      0
564  2022-03-04   7:57:44      0
565  2022-03-04   7:58:20      0

[200 rows x 3 columns]